<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<!-- Display search query in title when provided -->
		<title>
		    tordl
		    {% if search_query %}
		    - {{ search_query }}
		    {% endif %}
		</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet"/>
	</head>
	<body>
		<!-- Send query as POST request to flask server. -->
		<!-- Could maybe directly POST to the RPC server. -->
		<!-- Though, same-origin policy would likely make that a pain. -->
		<form id="search" method="POST">
			<input id="search-bar" name="search" type="search" value="{{ query }}"/>
			<label>Sort by:
				<select id="sort" name="sort-by">
					{% for c in cols %}
					<option value="{{ c }}" {% if sort == c %} selected {% endif %}>
						{{ cols[c] }}
					</option>
					{% endfor %}
				</select>
			</label>
			<label>Order:
				<select id="order" name="sort-order">
					<option value="ascending">Ascending</option>
					<option value="descending">Descending</option>
				</select>
			</label>
			<input id="search-btn" type="submit" value="Search"/>
		</form>

		{% if res %}
		<table>
			<thead>
				<tr>
					{% for c in cols %}
					<td>{{ cols[c] }}:</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in res %}
				<tr>
					<td>
						<span class="name">{{ row['name'] }}</span>
					</td>
					<td>
						{% for l in row['links'] %}
						<a href="{{ l }}">{{ l }}</a>
						{% endfor %}
					</td>
					<td>
						<a href="{{ row['magnet'] }}">Magnet</a>
					</td>
					<td>
						{% for o in row['origins'] %}
						<span class="origin">{{ o }}</span>
						{% endfor %}
					</td>
					<td>
						<span class="seeds">{{ row['seeds'] }}</span>
					</td>
					<td>
						<span class="leeches">{{ row['leeches'] }}</span>
					</td>
					<td>
						<span class="size">{{ row['size'] }}</span>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</body>
</html>
