*
  background-color: #000
  color: #518d1c

#search
  label, #search-btn
    margin-left: 0.5em

  #search-bar
    flex: 2

  display: flex
  margin: 1em

table
  thead
    font-weight: bold
    text-decoration: underline

  a
    font-weight: bold
    text-decoration: none

  width: 100%
  max-width: 100%
